/*------advants-list------*/
.advants-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.advants-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: $backgr-item;
}

.advants-list__item-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-title;
  margin-top: 30px;
}

.advants-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-text;
  margin-top: 10px;
}
