$primry-font: 'Roboto', sans-serif;
$seconry-font: 'Raleway', sans-serif;

$color-txt-item: #ffffff; /*--цвет текста акт.кн.,ссылок..--*/
$color-brend: #2196f3; /*-цвет логотипа,акт.кнопок и ссылок---*/
$color-logo-part: #000000; /*-цвет логотипа,акт.кнопок и ссылок---*/
$color-footer-link: rgba(255, 255, 255, 0.6); /*--цвет ссылок в футере--*/
$color-icon: #afb1b8; /*-- цет иконок соц.сетей--*/
$color-title: #212121; /*--осн.цвет заголовков--*/
$color-text: #757575; /*--осн.цвет текста--*/
$primary-backgr: #2f303a; /*--цвет фона героя и футера--*/
$backgr-item: #f5f4fa; /*--доп.цвет фона элементов--*/

$time-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
